<tr>
  <td><%= item.title %></td>
  <td><%= item.location %></td>
  <td><%= item.description %></td>
  <td><%= item.expiry_date %></td>
  <% item.item_attachments.each do |p| %>
    <td><%= image_tag p.image_url(:thumb) %><td>
  <% end %>
</tr>